:root {
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Urbanist", sans-serif;
  background-image: linear-gradient(to top, #a18cd1 0%, #dbabce 100%);
}
input,
textarea,
input:focus {
  border: none;
  outline: none;
}
::placeholder {
  padding-left: 0.5em;
  font-size: 0.9rem;
}
/** Header **/
.header {
  position: fixed;
  width: 100%;
  height: 4rem;
  top: 0;
  text-transform: uppercase;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__title {
  font-size: 1rem;
  margin: 0;
  padding: 0.3em;
  text-align: center;
}
.header__title span {
  text-shadow: 5px 5px 20px rgb(32, 161, 165);
}
@media screen and (min-width: 1200px) {
  .container {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/**navigation**/
.menu {
  position: fixed;
  top: 0.2em;
  left: 0.4em;
  font-size: 2rem;
  color: #fff;
}
@media (hover: hover) {
  .menu:hover {
    font-size: 2.1rem;
    cursor: pointer;
  }
}
.navbar {
  position: fixed;
  top: 20px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100vw;
  background-color: rgb(51, 51, 51, 0.9);
  transform: translateX(-110%);
}
@media screen and (min-width: 1024px) {
  .navbar {
    width: 35vw;
  }
}
.navbar--translate {
  transform: translateX(0);
}
.navbar__link {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 900;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
}
@media (hover: hover) {
  .navbar__link:hover {
    font-size: 3rem;
    color: rgb(32, 118, 121);
    cursor: pointer;
  }
}

.navbar__link--active {
  border-bottom: 3px solid rgb(85, 12, 12);
}
/** Hero**/
.hero-container {
  height: 60vh;
}

.hero__content {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .hero-container {
    height: 100vh;
  }
  .hero__content {
    height: 50vh;
  }
}
.hero {
  height: 100%;
  background-image: linear-gradient(
      to top,
      rgb(168, 237, 234, 0.3) 0%,
      rgb(254, 214, 227, 0.5) 80%
    ),
    url(../assets/img/man-compu.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
}
.hero__body {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}
.hero__text {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(65, 60, 65);
}
@media screen and (min-width: 1024px) {
  .hero__title {
    font-size: 2rem;
  }
  .hero__body {
    width: 80%;
    margin-bottom: 3em;
  }
  .hero__text {
    font-size: 1.3rem;
  }
  .location {
    font-size: 1.2rem;
  }
}
.button {
  padding: 1em 2em;
  border: none;
  outline: none;
  border-radius: 0.5em;
  text-decoration: none;
  color: #fff;
}

.button--orange {
  background-color: rgb(170, 116, 46);
}
.button--purple {
  background-color: #3f153d;
}
.button--red {
  background-color: rgba(207, 103, 103, 0.5);
}
.button--blue {
  background-color: rgba(97, 97, 204, 0.5);
}

/**services**/

.services__title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.card {
  max-width: 400px;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  margin-bottom: 1em;
  margin-right: auto;
  margin-left: auto;
  padding: 1em;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .card {
    padding: 2em 0.9em;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    padding: 2em 0;
    margin-bottom: 0;
    max-width: 320px;
  }
}
.card__header {
  margin-bottom: 0;
}

.card__body {
  margin-bottom: 2em;
}
.card__icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0;
}
.card__text {
  font-size: 0.9rem;
  padding: 0 2em;
}

.card__footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/**Nosotros**/
.about {
  background-image: linear-gradient(
      to left,
      transparent 45%,
      rgb(185, 168, 196) 60%,
      rgb(155, 116, 156) 100%
    ),
    url(../assets/img/team_dev.jpg);
  background-repeat: no-repeat;
  background-size: 100% 35rem;
  background-position: left center;
  margin-bottom: 2em;
}

.about__content {
  height: 100%;
  text-align: center;
}
@media screen and (min-width: 340px) {
  .about {
    height: 30vh;
  }
}
@media screen and (min-width: 720px) {
  .about {
    height: 50vh;
  }
  .column {
    display: flex;
    align-items: center;
  }
}

.about__title {
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase;
}
.about__text {
  flex-basis: 50%;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.8rem;
}
@media screen and (min-width: 720px) {
  .about__text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    margin-top: 0;
    font-size: 1rem;
  }
}

/** Contacto */
.contact {
  width: 100%;
  padding: 0.5em;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  margin-bottom: 1em;
}
.contact__title {
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
.contact__text {
  padding: 0.5em;
}
/*formulario*/
.form {
  width: 100%;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8em;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 1em;
}
.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.form__legend {
  margin-bottom: 1.2em;
  text-align: center;
}
.form__field {
  margin-bottom: 1em;
}
.form__input:placeholder-shown {
  background-color: rgb(236, 227, 227);
}
.form__input:not(:placeholder-shown),
.form__input:focus {
  border-bottom: 1px solid #a89696;
  background-color: transparent;
}
.form__label {
  display: inline-block;
  margin-bottom: 0.5em;
}
.form__input {
  width: 100%;
  height: 40px;
  border-radius: 0.5em;
}
.form__input--textarea {
  width: 100%;
  height: 10rem;
  resize: none;
}

/** Footer **/
.footer {
  padding: 1em;
  background-color: #333;
  text-align: center;
}
.copyright {
  color: white;
  font-size: 0.8rem;
}
